* {
    box-sizing: border-box;
    margin: auto;
    font-family:monospace;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    background-color: rgb(53, 53, 53);
}

#frame {
    width: 100vw;
    height: 100vh;
    background-color: red;
}


img {
    display: none;
    position: absolute;
    inset: 0;
    max-height: 100%;
    max-width: 100%;
}

#current {
    display: block;
    transition: 2s;
}

#previous {
    transform:translateX(-200%);
    transition: 2s;
}

#next {
    transform: translateX(200%);
    transition: 2s;
}